#gif {
  height: 200px;
  width: 150px;
  border: solid;
  border-color: black;
}
 /*Propiedades de la letra*/
 #Letra {
  font-size: 20px;
  
}/* Propiedades de la caja del cuerpo */
 body {
    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    border: solid;
    border-color: black;
  }
  /*  Propiedades solo para la imgen con id foto principal*/
 #imagenESA {
  height: 130px;
  width: 160px;
  /* border: solid; */
  /*border-color: black;*/
}
  /*  Propiedades solo para la imgen con id foto principal*/
 #fotoprincipal {
    margin: 0 px;
    padding: 0 px; /* Relleno */
    border:solid;
    border-color: black;
  }

   /*  Propiedades del h1 */
   #h {
    font-size: 20px;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
  }
  
  /*  Propiedades del div */
  #principales {
    background-color: rgba(150, 150, 148, 0.6);
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: black;
  }
  #principales1 {
    background: goldenrod;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  #principales2 {
    background-color:rgb(31, 30, 30);
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: rgb(8, 8, 8);
  }
  #tablas {
    background: gray;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  #enunciadosT {
    background: rgb(76, 76, 75);
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }