.botones{
width: 60px;
height: 60px;
column-count: 3;
margin-top: 20px;
border-color: rgb(255, 251, 251);
color: white;
background-color: black;
font-size: 25px;
text-align: center;
}
#display{
  width: 370px;
  height: 45px;
  background-color:rgb(247, 241, 241);
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: right;
  font-size: 40px;
  font-family: Courier New;
  padding: 10px;
  overflow: hidden;
 text-align: center;
}
.operacion{
    column-count: 1;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    column-count: 3;
    margin-top: 20px;
    border-color: rgb(250, 249, 249);
    color: white;
    background-color: black;
    font-size: 25px;
    text-align: center;
    }
#parentesisL{
    column-count: 1;
    margin-top: 20px;
    

}
#parentesisR{
    column-count: 1;
    margin-top: 20px;
}
#pi{
    column-count: 1;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    column-count: 3;
    margin-top: 20px;
    border-color: rgb(253, 251, 251);
    color: white;
    background-color: black;
    font-size: 25px;
    text-align: center;

}
#ac{
    column-count: 1;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    column-count: 3;
    margin-top: 20px;
    border-color: rgb(145, 7, 7);
    color: white;
    background-color: rgb(145, 7, 7);
    font-size: 25px;
    text-align: center;
}
#del{
    column-count: 1;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    column-count: 3;
    margin-top: 20px;
    border-color: rgb(145, 7, 7);;
    color: white;
    background-color:  rgb(145, 7, 7);;
    font-size: 25px;
    text-align: center;
}
#igual{
    column-count: 1;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    column-count: 3;
    margin-top: 20px;
    border-color: rgb(245, 242, 242);
    color: white;
    background-color:  rgb(0, 0, 0);;
    font-size: 25px;
    text-align: center;
}

#TODO{
    padding: 20px;    
    margin: auto;
    padding: 20px;
    background-color: #060707;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    
}
#TODO2{
    
    background-color: rgb(253, 251, 251);
    text-align:center;
  
}
