#masgrande {
  font-size: 20px;
}
/* Propiedades de la caja del cuerpo */
 body {
    padding: 5px;  /* relleno */
    margin: 10px;  /* Margen */
    border: solid;
    border-color: whitesmoke;
  }
  /*  Propiedades solo para la imgen con id foto principal*/
 #fotocollage {
  height: 250px;
  width: 200px;
  margin: 4 px;
  padding: 0 px; /* Relleno */
  border: solid;
  border-color: whitesmoke;
}
  /*  Propiedades solo para la imgen con id foto principal*/
 #fotoprincipal {
    height: 250px;
    width: 200px;
    margin: 0 px;
    padding: 0 px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }

   /*  Propiedades del h1 */
   h1 {
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  
  /*  Propiedades del div */
  #principales {
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  #principales1 {
    background: goldenrod;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  #tablas {
    background: gray;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  #enunciadosT {
    background: rgb(76, 76, 75);
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }