.izquierda{
float: left;
width: 25%;
background-color: rgba(122, 226, 145, 0.6);
border-color: honeydew;
border-style: solid;
}
.derecha{
  float:left;
  width: 75%;
  background-color: rgba(122, 226, 145, 0.6);
  border-color: honeydew;
  border-style: solid;
  
}

*{
box-sizing: border-box;
}
#masgrande {
  font-size: 20px;
}

 
  /*  Propiedades solo para la imgen con id foto principal*/
 #fotocollage {
  height: 250px;
  width: 200px;
  margin: 4 px;
  padding: 0 px; /* Relleno */
  border: solid;
  border-color: whitesmoke;
}
  /*  Propiedades solo para la imgen con id foto principal*/
 #fotoprincipal {
    height: 250px;
    width: 200px;
    margin: 0 px;
    padding: 0 px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }

   /*  Propiedades del h1 */
   h1 {
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  
  /*  Propiedades del div */
  #principales {
    background-color: rgba(52, 131, 69, 0.6);
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  #principales1 {
    background: goldenrod;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  #tablas {
    background: gray;
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }
  #enunciadosT {
    background: rgb(76, 76, 75);
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: whitesmoke;
  }