body {
  background-color: rgb(247, 245, 242);
}
#image{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 400px;
}
#canvas{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 400px;

}
